@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400&family=Poppins:wght@100&display=swap');

*{
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  background: #111;
  width:100%;
  overflow-x: hidden;
}
